:root{
    --main-color:#E5E5E5;
    --white-color:#FFFFFF;
    --light-blue:#D8DFE8;
    --dark-blue:#0A3871;
    --gray-color:#495057;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: var(--main-color);
}
.container{
    display: flex;
    flex-wrap: wrap;
}
main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
}

/*--- LOGO --- */
header{
    position: relative;
}
#logo{
    position: fixed;
    top: 20px;
    left: -10px;
}
#addWords{
    position: fixed;
    top: 20px;
    right: 20px;
}

/* ---- START ---- */
#start{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: center;
}
.container-options{
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
}
/*Botones*/
#startButtons{
    /* position: relative; */
    display: flex;
    flex-direction: column;
}
#startButtons a{
    margin: 30px auto;
    font-size:20px ;
    border: 1px solid var(--dark-blue);
    border-radius: 30px;
    cursor: pointer;
    transition: padding 1s ;
    text-decoration: none;
}
#bottonStartGame{
    padding: 1.6rem 11rem;
    background: var(--dark-blue);
    color: var(--light-blue);
}
#bottonStartGame:hover{
    font-weight: bold;
    padding: 1.6rem 15rem;
}
#bottonAddWord{
    padding: 1.6rem 10rem;
    margin-bottom: 0;
    background: var(--light-blue);
    color: black;
}
#bottonAddWord:hover{
    font-weight: bold;
    padding: 1.6rem 14rem;
}

/* ---- GAME ---- */
#game{
    width: 100%;
    display: none;
}
.container-game{
    width: 100%;
}
/* ---Imagenes--- */
.container-img{
    width: 100%;
    display: flex;
    position: relative;
    margin:60px auto 0 auto ;
    justify-content: center;
}
#space-img img{
    width: 250px;
}
/* ---Words--- */
.container-words{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px auto 0 autp;
    justify-content: center;
    text-align: center;
}
.letraAdivinar{
    font-size: 30px;
}
#lineas{
    margin-top: 50px;
    display: flex;
}
#lineas-img{
    width: 50px;
    margin: 0 20px;
}
#letters{
    margin-top:30px ;
}
#input-letters,#input-letters:focus-visible{
    width: 50%;
    background: var(--main-color);
    color: var(--gray-color);
    text-align: center;
    padding: 1rem;
    font-size: 20px;
    letter-spacing: 20px;
    border: none;
    outline: none;
}
/* Botones */
.container-buttons{
    margin: auto ;
    width: 90%;
    display: flex;
    justify-content: center;
}
#gameButtons{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#gameButtons a{
    margin: 30px auto;
    margin-top: 0;
    font-size:16px ;
    font-weight: bold;
    border: 1px solid var(--dark-blue);
    border-radius: 30px;
    cursor: pointer;
    transition: padding 1s ;
    text-decoration: none;
}
#nuevoJuego{
    padding: 1rem 8rem;
    background: var(--dark-blue);
    color: var(--light-blue);
}
#Desistir{
    padding: 1rem 9rem;
    margin-bottom: 0;
    background: var(--light-blue);
    color: black;
}
/* mensajes */
.pop{
    top:0;
    right:0;
    width: 25%;
    display: flex;
    padding: 2rem 4rem;
    background:var(--dark-blue) ;
    border-radius: 0 0 0 15px;
    color: var(--white-color);
    position:fixed ;
    flex-direction: row;
    z-index: 4 ;
}
.pop img{
    margin-left: 10px;
    width: 25px;
}
#correcto{
    display: none;
    flex-wrap: wrap;
}
#error{
    display: none;
    flex-wrap: wrap;
}

/* ---- ADDWORD ---- */

#addWord{
    display: none;
    width: 100%;
}
.container-addWord{
    flex-wrap: wrap;
    margin: auto;
    width: 100%;
    /* position: absolute; */
    background: var(--main-color);
    /* height: 100vh;
    z-index: 1; */
    /* position: relative; */
}
.espacio-addWord{
    width: 80%;
    margin: auto;
}
.text{
    padding: 0.7rem ;
    font-size:25px;
    font-family: 'Inter';
    font-style: normal;
    background: var(--main-color);
    color: var(--dark-blue);
    border: none;
    /* overflow: scroll; */
    resize: none;
}
.text::placeholder{
    color: var(--dark-blue);
    font-size:25px;
    font-family: 'Inter';
    font-style: normal;
    
}
.text:focus{
    border: none;
    outline: none
}
/*--- Input --- */
main{
    display: flex;
    width: 100%
    /* justify-content: space-between; */
    /* margin:80px 50px 0 100px ; */
}
.container-input{
    width: 80%;
    /* height: 500px; */
    margin: 100px auto auto auto;
    /* background: var(--gray-color); */
    flex-direction: column;
}
.input{
    width: 90%;
    margin: 10px auto 100px 10px;
}
/*Sugerencia*/
#container-sugerencia{
    display: flex;
    margin:auto 10px 10px 10px;
}
#exclamacion{
    width: 15px;
    height: 15px;
    margin: auto 0 0 10px ;
}
#sugerencia{
    margin:auto 10px;
}
/*Botones*/
#container-buttons{
    width: 100%;
    display: flex;
    /* margin-top:20px? */
}
#container-buttons input{
    width: 50%;
    margin: 0 20px 40px 20px;
    padding: 0.7rem ;
    border: 1px solid var(--dark-blue);
    border-radius: 15px;
    cursor: pointer;
}
#GuardarPalabra{
    background: var(--dark-blue);
    color: var(--main-color);
}
#Cancelar{
    background: var(--light-blue);
}